

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    background-color: #f9f9f9;
    gap: 2rem;
}

.about-container h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #0F172A;
    text-align: center;
}

.about-content .name h2 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #0F172A;
    margin-bottom: 0.5rem;
    text-align: center;
}

.about-content .name p {
    font-size: 1rem;
    color: #475569;
    margin-bottom: 1rem;
    text-align: center;
}

.about-content section h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #0F172A;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.about-content section p, .about-content section ul {
    font-size: 1rem;
    color: #475569;
    line-height: 1.5;
    text-align: justify;
}

.about-content .goal ul {
    list-style-image: url('./goal.svg');
}

.about-content .areas-of-low-confidence ul {
    list-style-image: url('./confidence.svg');
}

.about-content section ul {
    padding-left: 1.5rem;
    align-items: center;
}

.about-content section ul li {
    margin-bottom: 0.5rem;
}

/* Tablets */
@media (min-width: 600px) {
    .about-container {
        padding: 3rem 2rem;
    }

    .about-container h1 {
        font-size: 2rem;
    }

    .about-content .name h2 {
        font-size: 1.5rem;
    }

    .about-content section h3 {
        font-size: 1.5rem;
    }
}

/* Desktops */
@media (min-width: 900px) {
    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-container {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem;
    }

    .about-container .about-title {
        flex: 2;
        text-align: left;
        font-size: 2rem;
    }

    .about-container .about-title::after {
        content: '';
        display: block;
        width: 50px;
        height: 4px;
        background-color: #007BFF;
        margin-top: 0.5rem;
    } 

    .about-container .about-content {
        width: 70%;
    }
}